*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.wrapper{
display: grid;
grid-template-columns: auto auto auto auto;
justify-content: center;
align-items: center;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
